# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

Game/bin/Debug/Game.exe.config
Game/bin/Debug/Game.pdb
Game/bin/Debug/Newtonsoft.Json.xml
Game/bin/Debug/OpenTK.xml
Game/obj/Debug/CoreCompileInputs.cache
Game/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Game/obj/Debug/Game.csproj.FileListAbsolute.txt
Game/obj/Debug/Game.csprojResolveAssemblyReference.cache
Game/obj/Debug/Game.pdb
Game/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Game/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Game/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages
.vs/Game/v15/.suo
Game/obj/x86/Debug/CoreCompileInputs.cache
Game/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Game/obj/x86/Debug/Game.csproj.FileListAbsolute.txt
Game/obj/x86/Debug/Game.pdb
Game/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Game/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Game/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
